.images{
    color: blue;
background-color: aliceblue;
padding=10px;
border: 10px solid aliceblue;
margin:auto;


}
.title{
color: blue;
background-color:green;
padding= 15px 10px 5px;
border-top: 10px dashed aliceblue;
border-right: 10px solid aliceblue;
border-top: 10px dotted aliceblue;
margin:auto;
}
.Posts{
    background-color: aliceblue;
    padding:  15px 10px 5px ;
    border: 10px solid black;
    margin:auto;
}



body{
    background-color: grey;
    margin: auto;
}


#title{
    color:blue

}
p{
    color:red;
    padding: 10px;
    text-align: justify;
    
}